body {
    padding-bottom: 40px;
    margin: 0px;
}

.fixed-header, .fixed-footer {
    width: 100%;
    position: fixed;
    background: #020645;
    color: #fff;
}

.fixed-header {
    top: 0;
    height: 40px;
}

.fixed-footer {
    bottom: 0;
    height: 40px;
}

#banner {
    width: 100%;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}

.image-div {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}


.title-div {
    margin: auto;
    font-size: 21px;
    text-align: end;
}

#soundcloud-iframe-div {
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
}

#text-after-soundcloud {
    margin-left: auto;
    margin-right: auto;
}

.arabic-text {
    color: #666;
    font-size: 20px;
    font-family: 'Mirza', sans-serif;
    font-style: normal;
    font-weight: 200;
}

.btn {
    font-family: 'Tajawal', sans-serif;
    background-color: #020645;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#button-to-download-div {
    margin-top: 70px;
    margin-bottom: 20px;
}

.cn {
    width: 61%;
}

.sc {
    width: 61%;
}

@media screen and (max-width: 450px) {
    .cn {
        width: 95%;
    }

    .sc {
        width: 100%;
    }
}
